Source: ros-galactic-depthai
Section: misc
Priority: optional
Maintainer: Sachin Guruswamy <sachin@luxonis.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, libusb-1.0-0-dev, nlohmann-json3-dev, ros-galactic-ament-cmake, ros-galactic-ros-environment, ros-galactic-ros-workspace
Homepage: https://www.luxonis.com/
Standards-Version: 3.9.2

Package: ros-galactic-depthai
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, libusb-1.0-0-dev, nlohmann-json3-dev, ros-galactic-ros-workspace
Description: DepthAI core is a C++ library which comes with firmware and an API to interact with OAK Platform
